<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sentence completion</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/styles.css">
        <style></style>
    </head>

    <body>
        <div id="container1">
            <navbar></navbar>
            <textinput></textinput>
        </div>    
    </body>

<script type="module">
    import { createApp } from '/js/vue.esm-browser.js'
    const app = createApp({})

    const text = {
        data() {
            return {
                message: '',
                showCapturedText: false,
                hiddenWords: [],
                draggedWord: null,
                isButtonDropped: false
            }
        },
        template: `
            <div class="container text-center">
                <div class="row">
                    <div class="col-10">
                        <textarea cols="80" rows="5" id="input-text" type="text" v-model="message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <button @click.prevent="showCapturedText=true" type="button" class="btn btn-success">Capturar texto</button>
                        <div v-if="showCapturedText">
                            <p>Selecciona las palabras que deseas esconder arrastrándolas a la zona de palabras escondidas:</p>
                            <div v-for="(word, index) in message.split(' ')" :key="index" class="word"
                                draggable="true"
                                @dragstart="dragStart($event, word, index)">
                                {{word}}
                            </div>
                            <p>Palabras escondidas:</p>
                            <div class="drop-zone"
                                @dragover.prevent="allowDrop($event)"
                                @drop.prevent="drop($event)">
                                <div v-for="word in hiddenWords" class="word hidden-word"
                                    draggable="true"
                                    @dragstart="dragStartHiddenWord($event, word)">
                                    {{word}}{{index}}
                                </div>
                            </div>
                            <button @click.prevent="createHiddenText">Esconder palabras</button>
                            {{hiddenWords}}
                        </div>
                        <p v-if="hiddenText">Texto con palabras escondidas:</p>
                        <p v-if="hiddenText">{{hiddenText}}</p>
                    </div>
                </div>
            </div>

        `,
        methods: {
            createHiddenText() {
                let words = this.message.split(' ');
                this.hiddenText = words.map(word => {
                    return this.hiddenWords.includes(word) ? '____' : word;
                }).join(' ');
            },
            dragStart(event, word, index) {
                this.draggedWord = word;
                event.dataTransfer.setData('text/plain', word);
                event.dataTransfer.setData('text/plain', index);
            },
            allowDrop(event) {
                event.preventDefault();
            },
            drop(event) {
                event.preventDefault();
                if (!this.hiddenWords.includes(this.draggedWord)) {
                    this.hiddenWords.push(this.draggedWord);
                }
                if (droppedElement === 'custom-button') {
                    this.isButtonDropped = true;
                }
            },
            dragStartHiddenWord(event, word) {
                this.draggedWord = word;
                event.dataTransfer.setData('text/plain', word);
            }
        },
        computed: {
            hiddenText() {
                return this.$data.hiddenText;
            }
        }
    }
    const navbar ={
        data() {
            return {
            }
        },
        template: `
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    Completar oraciones
                </a>
            </div>
        </nav>
        `
    }
    app.component('navbar', navbar)
    app.component('textinput', text)
    app.mount('#container1')
    


    app.config.errorHandler = (err) => {
        /* handle error */
        console.log('pump error');
    }
</script>
</html>